.navbar-default {
    background-color: #4e5d6c;
    border-color: transparent;
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #2b3e50;
}
.sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 42px;
}
