<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{userMng.title}}</h1>
    <hr/>

    <br/>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>UserName</th>
          <th>Email</th>
          <th>FName</th>
          <th>LName</th>
          <th>Phone</th>
          <th>Is Active</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in userMng.users">
          <td>{{item.UserName}}</td>
          <td>{{item.Email}}</td>
          <td>{{item.FName}}</td>
          <td>{{item.LName}}</td>
          <td>{{item.PhoneNumber}}</td>
          <td> <span ng-if="item.IsActive" class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span ng-if="!item.IsActive" class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
          </td>
          <!--<td> <img data-ng-src="{{item.Image}}" alt="" ng-show="item.Image" height="80px">
          </td>-->
          <td><a ui-sref="admin.userSave({Id: item.Id})" role="button" class="btn btn-xs btn-success">Edit</a>
            <button class="btn btn-xs {{!item.IsActive?'btn-success':'btn-warning'}}" ng-click="userMng.activeOrDeactive(item.Id)"> {{!item.IsActive?'Active':'Deactive'}} </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- /.col-lg-12 -->

</div>
<!-- /.row -->
