<h1 class="page-header">
  {{category.category.CategoryName}}
  <small>{{category.category.Description}}</small>
</h1>

<!-- First Blog Post -->
<div ng-repeat="post in category.posts| filter: default.searchText">
  <h2>
    <a ui-sref="default.post({Id: post.Id})">{{post.Title}}</a>
  </h2>
  <p class="lead">
    by <a>{{post.Author.UserName}}</a>
  </p>
  <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.PostDate}}</p>
  <hr>
  <img class="img-responsive" ng-src="{{post.FeatureImage}}" alt="">
  <hr>
  <p>{{post.Title}}</p>
  <a ui-sref="default.post({Id: post.Id})" class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

  <hr>

</div>


<!-- Second Blog Post -->

<!-- Pager -->
<ul class="pager">
  <li class="previous">
    <a href="#">← Older</a>
  </li>
  <li class="next">
    <a href="#">Newer →</a>
  </li>
</ul>
